# Test report files.
/spec/reports/
/coverage/

# Documentation files.
/doc/
/_yardoc/
/.yardoc

# Temporary files.
/.bundle/
/Gemfile.lock
/pkg/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

# IDE files.
.idea/

# bundler directory.
vendor/bundle/
